<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-reserva-heading" data-cy="ReservaCreateUpdateHeading" jhiTranslate="proyectApp.reserva.home.createOrEditLabel">
        Create or edit a Reserva
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.reserva.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
          <div class="d-flex">
            <input
              id="field_fechaInicio"
              data-cy="fechaInicio"
              type="datetime-local"
              class="form-control"
              name="fechaInicio"
              formControlName="fechaInicio"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.reserva.fechaFin" for="field_fechaFin">Fecha Fin</label>
          <div class="d-flex">
            <input
              id="field_fechaFin"
              data-cy="fechaFin"
              type="datetime-local"
              class="form-control"
              name="fechaFin"
              formControlName="fechaFin"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.reserva.tipoPago" for="field_tipoPago">Tipo Pago</label>
          <input type="text" class="form-control" name="tipoPago" id="field_tipoPago" data-cy="tipoPago" formControlName="tipoPago" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.reserva.total" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.reserva.cliente" for="field_cliente">Cliente</label>
          <select class="form-control" id="field_cliente" data-cy="cliente" name="cliente" formControlName="cliente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clienteOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : clienteOption"
              *ngFor="let clienteOption of clientesSharedCollection; trackBy: trackClienteById"
            >
              {{ clienteOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.reserva.instalacion" for="field_instalacion">Instalacion</label>
          <select class="form-control" id="field_instalacion" data-cy="instalacion" name="instalacion" formControlName="instalacion">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                instalacionOption.id === editForm.get('instalacion')!.value?.id ? editForm.get('instalacion')!.value : instalacionOption
              "
              *ngFor="let instalacionOption of instalacionsSharedCollection; trackBy: trackInstalacionById"
            >
              {{ instalacionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
