<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-registro-material-utilizado-heading"
        data-cy="RegistroMaterialUtilizadoCreateUpdateHeading"
        jhiTranslate="proyectApp.registroMaterialUtilizado.home.createOrEditLabel"
      >
        Create or edit a Registro Material Utilizado
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.registroMaterialUtilizado.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.registroMaterialUtilizado.cantidad" for="field_cantidad"
            >Cantidad</label
          >
          <input type="number" class="form-control" name="cantidad" id="field_cantidad" data-cy="cantidad" formControlName="cantidad" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.registroMaterialUtilizado.fecha" for="field_fecha">Fecha</label>
          <div class="input-group">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="text"
              class="form-control"
              name="fecha"
              ngbDatepicker
              #fechaDp="ngbDatepicker"
              formControlName="fecha"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.registroMaterialUtilizado.reserva" for="field_reserva">Reserva</label>
          <select class="form-control" id="field_reserva" data-cy="reserva" name="reserva" formControlName="reserva">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="reservaOption.id === editForm.get('reserva')!.value?.id ? editForm.get('reserva')!.value : reservaOption"
              *ngFor="let reservaOption of reservasSharedCollection; trackBy: trackReservaById"
            >
              {{ reservaOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectApp.registroMaterialUtilizado.material" for="field_material"
            >Material</label
          >
          <select class="form-control" id="field_material" data-cy="material" name="material" formControlName="material">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="materialOption.id === editForm.get('material')!.value?.id ? editForm.get('material')!.value : materialOption"
              *ngFor="let materialOption of materialsSharedCollection; trackBy: trackMaterialById"
            >
              {{ materialOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
