<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="penalizacion">
      <h2 data-cy="penalizacionDetailsHeading"><span jhiTranslate="proyectApp.penalizacion.detail.title">Penalizacion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ penalizacion.id }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.penalizacion.motivo">Motivo</span></dt>
        <dd>
          <span>{{ penalizacion.motivo }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.penalizacion.totalAPagar">Total A Pagar</span></dt>
        <dd>
          <span>{{ penalizacion.totalAPagar }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.penalizacion.cliente">Cliente</span></dt>
        <dd>
          <div *ngIf="penalizacion.cliente">
            <a [routerLink]="['/cliente', penalizacion.cliente?.id, 'view']">{{ penalizacion.cliente?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/penalizacion', penalizacion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
