<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="material">
      <h2 data-cy="materialDetailsHeading"><span jhiTranslate="proyectApp.material.detail.title">Material</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ material.id }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.material.nombre">Nombre</span></dt>
        <dd>
          <span>{{ material.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.material.cantidadReservada">Cantidad Reservada</span></dt>
        <dd>
          <span>{{ material.cantidadReservada }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.material.cantidadDisponible">Cantidad Disponible</span></dt>
        <dd>
          <span>{{ material.cantidadDisponible }}</span>
        </dd>
        <dt><span jhiTranslate="proyectApp.material.instalacion">Instalacion</span></dt>
        <dd>
          <div *ngIf="material.instalacion">
            <a [routerLink]="['/instalacion', material.instalacion?.id, 'view']">{{ material.instalacion?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/material', material.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
